:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
}

h3 {
  font-size: 1.1;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  background-color: #efefef;
}

nav a {
  padding: 0.5em;
}

header {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
}

main {
  position: relative;
  flex-grow: 2;
  height: 100%;
  display: flex;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 1.6rem 1em;
  border: 1px solid gray;
  background-color: white;
  max-width: 900px;
}

.menu {
  width: 14rem;
  margin-top: 1em;

  .menu-shapes {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0.5em 0 1em 0;
    place-items: center;
  }
  .frame {
    background-color: white;
    border: 1px solid gray;
    width: 6em;
    height: 5em;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    margin: 0.5rem 0.2rem;
  }
}

.shape {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1 / 1;
}

.area {
  // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  // transform: rotate(30deg);
  background-color: rgb(78, 166, 210);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.handles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.handle {
  position: absolute;
  cursor: grab;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(218, 218, 218);
  border: 2px solid rgb(131, 211, 250);
  opacity: 0.8;
  margin: -0.6rem;
}

.shadow-shape {
  position: relative;
}

.shard {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: transparent transparent transparent transparent;
}
