:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

nav a {
  padding: 0.5em;
}

header {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
}

main {
  position: relative;
  flex-grow: 2;
  height: 100%;
  display: flex;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 1.6rem;
  border: 1px solid gray;
}

.shape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1 / 1;
}

.area {
  // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  // transform: rotate(30deg);
  background-color: rgb(78, 166, 210);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.handles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.handle {
  position: absolute;
  cursor: grab;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(218, 218, 218);
  border: 2px solid rgb(131, 211, 250);
  opacity: 0.8;
  margin: -0.6rem;
}

:root {
  --baseColor: blue;
  --lighten: color-mix(in srgb, var(--baseColor) 80%, white);
  --lighten2: color-mix(in srgb, var(--baseColor) 70%, white);
  --lighten3: color-mix(in srgb, var(--baseColor) 50%, white);
  --lighten4: color-mix(in srgb, var(--baseColor) 40%, white);
  --lighten4: color-mix(in srgb, var(--baseColor) 30%, white);
}

.shadow-shape {
  position: relative;
  font-size: 10px;
}

.segment-1:before,
.segment-1:after,
.segment-2:before,
.segment-2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
}

.segment-1 {
  position: relative;

  &:before {
    border-color: transparent transparent green transparent;
    border-width: 0 2.5em 3em 2.5em;
    filter: drop-shadow(5em 0 rgb(131, 255, 131))
      drop-shadow(5em 0 rgb(131, 255, 131));
  }

  &:after {
    border-color: yellow transparent transparent transparent;
    border-width: 3em 2.5em 0 2.5em;
    left: 2.5em;
    filter: drop-shadow(5em 0 rgb(252, 252, 146));
  }
}

.segment-2 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 3em;
  left: 7.5em;
  border-color: purple transparent transparent transparent;
  border-width: 10.1em 7.5em 0 0em;

  &:before {
    top: -10.1em;
    left: -7.5em;
    border-color: blue transparent transparent transparent;
    border-width: 10em 0em 0 7.5em;
    filter: drop-shadow(5.1em 0em rgb(142, 142, 255));
  }

  &:after {
    border-color: red transparent transparent transparent;
    border-width: 3.4em 2.5em 2em 2.5em;
    top: -10.1em;
    left: -7.5em;
    z-index: 10;
    filter: drop-shadow(5em 0em pink) drop-shadow(5em 0em pink);
  }
}
